# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore virtual environments
venv/
.env/
.venv/

# Ignore data files (if you don't want to track raw or output data)
data/
bit_pair_encoding.ipynb
huffman_codebook_small.json
bit_pair_tokenizer_dict.json
bit_pair_transformer.ipynb

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore OS / editor system files
.DS_Store
Thumbs.db
.vscode/
.idea/